
input{
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid rgba($color: #000000, $alpha: .5);
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    &:focus{
        outline: none;
        border-color: #000;
    }
}