    .colors {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      &__circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid transparent;
        transition: border 0.3s;
        
      }
      &__circle.active {
        box-shadow: inset 0 0 0px 2px white;
        border-color: black;
      }
}