@use "../../../styles/abstracts/variables" as *;

.productCard {
  width: 270px;
  height: 35 0px;
  border-radius: 4px;
  overflow: hidden;

  &:hover .product .buttonContainer {
    bottom: 0;
  }
  .product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: $color-secondary;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    .productImage {
      width: 190px;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .actions {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 10px;
      top: 0;

      .icons {
        display: flex;
        flex-direction: column;
        align-items: start;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-primary;
          border: none;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          margin-bottom: 5px;
          cursor: pointer;
        }
      }
      .badges{
        display: flex;
        align-items: center;
        gap: 5px;
        
        .new{
            background-color: $color-green;
;
        }
      }
      .badge {
        padding: 4px 12px;
        border-radius: 4px;
        background-color: $color-secondary-1;
        .titleRegular {
          color: white;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      position: absolute;
      bottom: -70px;
      left: 0;
      background-color: $color-dark;
      width: 100%;
      color: $color-primary;
      font-size: 12px;
      font-weight: 400;
      padding: 10px;
      border-radius: 0 0 4px 4px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      span {
        display: inline-block;
        font-size: 18px;
      }
    }
  }

  .productInfo {
    .price {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 8px 0;
      .titleMedium {
        color: $color-secondary-1;
      }
      .oldPrice {
        color: $color-dark;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        opacity: 0.5;
      }
    }
  }
}
