.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle at center, #111 0%, #000 100%);
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  padding: 4rem 4rem;
  position: relative;
  margin:100px 0;
  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  &__content {
    max-width: 500px;
    z-index: 2;

    @media (max-width: 900px) {
      margin-bottom: 2rem;
    }
  }

  &__category {
    color: #00ff85;
    font-weight: 600;
    font-size: 1rem;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 1rem 0 2rem;
  }

  &__timer {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

    div {
      background: #fff;
      color: #000;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 0;
      }

      span {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }

  &__btn {
    background: #00ff85;
    color: #000;
    border: none;
    padding: 0.9rem 2rem;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #00e078;
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    img {
      width: 100%;
      filter: drop-shadow(0 0 60px rgba(255, 255, 255, 0.1));
    }
  }
}
