.iconContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 58px;
      height: 58px;
      font-size:30px;
      background-color: black;
      color: white;
      margin: 0 auto;
      margin-bottom: 40px;
      padding: 10px;
      border-radius: 50%;
      outline: 11px solid rgba(0, 0, 0, 0.3);
    }