.contactContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  margin: 2rem 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.infoBox {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.infoItem {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  width: 270px;
  margin-bottom: 1rem;

  h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin: 0.3rem 0;
    color: #555;
    font-size: 0.9rem;
  }
}

.icon {
  background-color: #db4444;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border: 0;
  border-top: 1px solid black;
  opacity: 0.5;
  margin: 1rem 0;
}

.formBox {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.inputGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  > div {
    flex: 1;
    min-width: 180px;
  }

}

.submitBtn {
  background-color: #db4444 !important;
  border: none !important;
  height: 40px;
  padding: 0 1.5rem;
  border-radius: 4px;
  font-weight: 500;

  &:hover {
    background-color: #c03a3a !important;
  }
}

