@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body{
  font-family: $font-family-poppins;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-poppins;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  margin-bottom: $spacing-md;
  color: #000000;
}

h1 {
  font-size: $font-size-4xl;
  
  @include tablet {
    font-size: $font-size-5xl;
  }
}

h2 {
  font-size: $font-size-3xl;
  
  @include tablet {
    font-size: $font-size-4xl;
  }
}

h3 {
  font-size: $font-size-2xl;
  
  @include tablet {
    font-size: $font-size-3xl;
  }
}

h4 {
  font-size: $font-size-xl;
  
  @include tablet {
    font-size: $font-size-2xl;
  }
}

h5 {
  font-size: $font-size-lg;
  
  @include tablet {
    font-size: $font-size-xl;
  }
}

h6 {
  font-size: $font-size-base;
  
  @include tablet {
    font-size: $font-size-lg;
  }
}

// Paragraphs
p {
  
  margin-bottom: $spacing-md;
  line-height: $line-height-relaxed;
}


a {
  color: #000000;
  text-decoration: none;
}

// Text utilities
.text-small {
  font-size: $font-size-sm;
}

.text-large {
  font-size: $font-size-lg;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: $color-text;
}

.text-secondary {
  color: $color-secondary;
}

