.scrollButton{
    background-color: rgba( #000, $alpha: .07);
    color: rgba( #000, $alpha: .8);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.active{
    background-color: rgba( #000, $alpha: .1);
    color: black;
    font-weight: 800;
}

.scrollContainer{
    display: flex;
    gap: 8px;
}
