.scrollButton{
    background-color: rgba( #000, $alpha: .1);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.scrollContainer{
    display: flex;
    gap: 1rem;
}