.rating{
    display: flex;
    align-items: center;
    gap: 8px;

    .reviews{
        color: black;
        opacity: .5;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
    }
}