@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *; 



.content {
  text-align: center;
  height: 60vh;
  .headingMedium{
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 110px;
    line-height: 115px;
    letter-spacing: 2px;
  }
  p {
    color: #555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.homeBtn {
  border: none !important;
  padding:  28px 60px;
  font-weight: 500;
}

@include tablet{
    .content{
        .headingMedium{
            font-size: 60px;
            line-height: 65px
        }
    }
}

@include mobile{
      .content{
        .headingMedium{
            font-size: 32px;
            line-height: 35px
        }
        
    }
}