@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.carousel {
  margin: 32px 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 75%;
  background-color: black;
  @include desktop{
    width: 100%;
  }
  .item {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 16px 64px;
    height: 380px;
    @include tablet{
      flex-direction: column-reverse;
      padding: 16px 24px;
      height: auto;
    }
    .imageContainer {
      width: 40% !important;
      @include tablet{
        width: 60% !important;
        
      }
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      padding: 50px 0px;
      @include tablet{
        align-items: center;
        text-align: center;
        gap: 10px;
        padding: 12px 0px;
      }
      .headingSemiBold {
        color: $color-primary;
        font-size: 48px;
        max-width: 300px;
        @include tablet{
          font-size: 32px;
          max-width: 100%;
        }
      }

      .brand {
        display: flex;
        align-items: center;
        gap: 24px;
        .titleRegualar {
          position: relative;
          top: 3px;
          font-size: 24px;
        }
      }
    }
  }
  :global(.slick-dots .slick-active) {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    
  }
  :global(.slick-dots .slick-active::after) {
   background-color: $color-secondary-1 !important;
   border: 2px solid $color-primary !important;
  }
  
  
  
  :global(.slick-dots li) {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  :global(.slick-dots li ) {
    border: 2px solid  !important;
    
  }
  :global(.slick-dots li button),
  :global(.slick-dots .slick-active::after) {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

