@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.horizontalSidebar{
  position: relative;
  width: 100%;
  display: none;
  justify-content: start;
  @include desktop{
    display: block;
  }
  
  &__list{
    position: absolute;
    top: 0;
    left: -400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
    padding: 10px ;
    background-color: $color-primary;
    box-shadow: 0 2px 10px rgba($color: #000000, $alpha: .2);
    z-index: 4;
  }
}