@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.categoriesMobile{
  width: 100%;
  display: none;
  margin-top: 24px;
  justify-content: start;
  @include desktop{
    display: flex;
    align-items: center;
    gap: 20px;
  
  }
  
  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
  }
}