@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.categories{
    margin: 60px 0;
    &__head{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__container{

        overflow-x:auto ;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            display: none;
        }
    &__list{
        display: grid;
        grid-template-columns: repeat(6, minmax(170px,1fr));
        gap: 30px;

    
            &__item{
                position: relative;
                text-align: center;
                border: 1px solid rgba($color: #000000, $alpha: .7);
                border-radius: 4px;
                padding:30px 0;
                cursor: pointer;
                overflow: hidden;
                transition: .3s ease-in-out;
                &__bg{
                    position: absolute;
                    background-color: $color-secondary-1;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    bottom: -100%;
                    z-index: -3;
                    transition: 0.3s ease-in-out;
                    
                }
                &:hover{
                    color: white;
                    svg{
                        color: white;
                    }
                }
                &:hover &__bg{
                    bottom: 0;
                }
    }
    }
}
}
@include tablet{

}

@include mobile{
    .categories{
        &__list{
            grid-template-columns: repeat(3, minmax(60px,1fr));
        }
    
    }
}