@use "../../../styles/abstracts/variables" as *;

.dots{
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 30px;
    z-index: 1000;
    .dot{
        background-color: rgba($color-primary, .5);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        cursor: pointer;
    }
    .activeDot{
        position: relative;
        background-color: $color-secondary-1;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid $color-primary;
    
        // span{
        //     position: absolute;
        //     background-color: $color-primary;
        //     width: 10px;
        //     height: 10px;
        //     border-radius: 50%;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     z-index: 1000;
        // }
    }
}