@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.ourProducts {
  &__productsContainer {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 15px;
    @include desktop{
      grid-template-columns: repeat(3,1fr) ;
      gap: 30px;
      &__product>div{
        width: 100%;
      }
    }
    @include tablet{
      grid-template-columns: repeat(2,1fr) ;
    }
    @include mobile{
      grid-template-columns: repeat(1,1fr);
    }
  }
  &__btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  &__button {
    margin: 30px auto;
    padding: 30px 50px;
  }
}

