@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.sectionTitle{
    position: relative;
    color:$color-secondary-1 ;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 36px;
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -36px;
        width: 20px;
        height: 40px;
        border-radius: 4px;
        background-color: $color-secondary-1;
        display: block
    }
}