@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.sidebarContainer {
    position: relative;
    top: -4px;
    width: 20%;
    padding-top: 18px;
    display: block;
  
  }
  .cates {
    display: none;
  }

@include desktop {
  .sidebarContainer {
    display: none;
    .cates {
      display: block;
    }
  }
}

