@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
.thisMonth{
    &__products{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        @include desktop{
            grid-template-columns: repeat(3,1fr) ;
            gap: 30px;
            >div{
                width: 100%;
            }
        }
        @include tablet{
            grid-template-columns: repeat(2,1fr) ;
        }
        @include mobile{
            grid-template-columns: repeat(1,1fr) ;
        }

        
    }
}
