@use "../../styles/abstracts/mixins"as *;
@use "../../styles/abstracts/variables"as *;

.container {
    .authLayout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 129px;
        padding: 30px 0;

        form {
            position: relative;
            right: 0;
            width: 60%;
            padding: 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            height: 100%;
            margin: 0 auto;
            

            .heading {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }

            .actions {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                text-align: center;

                .buttons {
                    button {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 21px 40px;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }

                .LoginButtons{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        
                        color:$color-secondary-1;
                        
                    }
                        button {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 21px 40px;
                        width: 50%;
                        margin-bottom: 10px;
                    }
                }
                p {
                    color: rgba($color: #000000, $alpha: 0.7);

                    a {
                        position: relative;
                        color: inherit;
                        margin-left: 5px;
                        font-weight: 500;

                        &::after {
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            width: 100%;
                            content: "";
                            display: block;
                            height: 1px;
                            background-color: rgba($color: #000000, $alpha: 0.5);
                        }
                    }
                }
            }
        }

        .image {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            left: -70px;
            background-color: #cbe4e8;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
}

@include tablet {
    .container {
    .authLayout {
        grid-template-columns: 1fr;
        padding: auto 0;
        margin: 0;

        form {
            width: 100% !important;
            padding: 0;
            margin: 0;
        }

        .image {
            display: none;
        }
    }
}
}