.featured {
  &__grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 30px;
    margin: 2rem 0;

    &__left,
    &__right>div,
    &__card {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      background: #000;
      color: #fff;
          img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.4s ease;
    }
      &__image{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
        height: 99%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        
        img{
          width: 100%;
          
        }
  
      }

      
      &__overlay{
        background-color: #D9D9D9E5;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 90%;
        height: 90%;
        margin: auto;
        border-radius: 50%;
        z-index: 10;
        filter: blur(200px);
      }

      &:hover img {
        transform: scale(1.05);
      }
    }

    &__content {
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
      right: 1.5rem;

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
        color: #ddd;
      }

      a {
        color: #fff;
        font-weight: 500;
        text-decoration: underline;
      }
    }

    &__right {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 30px;
    }

    &__bottom {
      display: grid;
      background-color: transparent !important;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    // &__card{
    //     &:nth-child(2),
    //     &:nth-child(1){
    //     background-color: red !important;
    //   }
    // }

 
    @media (max-width: 900px) {
      grid-template-columns: 1fr;

      &__right {
        grid-template-rows: auto;
      }

      &__bottom {
        grid-template-columns: 1fr;
      }
    }
  }


  &__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 100px 0;
    &__icon{
      background-color: black;
      border-radius: 50%;
      width: 58px;
      text-align: center;
      color:white;
      border: 6px solid gray;
      margin: 10px auto;
    }
  }
}