@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;
.thisMonth{
    &__products{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;       
    }
}

@include tablet{
    .thisMonth{
    &__products{
        display: grid;
        grid-template-columns: 1fr 1fr ;       
    }
}
}
@include mobile{
.thisMonth{
    &__products{
        display: grid;
        grid-template-columns: 1fr ;   
        
        >div{
            width: 100%;
        }
    }
}
}