@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;


  .authLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 30px 0;
    .formContainer {
      position: relative;
      right: 0;
      width: 50%;
      max-width: 370px;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      height: 100%;
      margin: 0 auto;
      transition: opacity 0.3s ease;

      .heading {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
     
      .inputField{
        padding: 10px 0 ;
      }
      .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
        margin-top: 60px;
        .buttons {
          button {
            font-size: 16px;
            font-weight: 500;
            padding: 21px 40px;
            width: 100%;
            margin-bottom: 10px;
          }
        }

        .LoginButtons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            color: $color-secondary-1;
          }
          button {
            font-size: 16px;
            font-weight: 500;
            padding: 21px 40px;
            width: 50%;
            margin-bottom: 10px;
          }
        }
        p {
          color: rgba($color: #000000, $alpha: 0.7);

          a {
            position: relative;
            color: inherit;
            margin-left: 5px;
            font-weight: 500;

            &::after {
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 100%;
              content: "";
              display: block;
              height: 1px;
              background-color: rgba($color: #000000, $alpha: 0.5);
            }
          }
        }
      }
    }

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 805px;
      height: 100vh;
      left: -70px;
      background-color: #cbe4e8;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
  }


@include tablet {
  
    .authLayout {
      grid-template-columns: 1fr;
      padding: auto 0;
      margin: 0;

      .formContainer {
        width: 100% !important;
        padding: 0;
        margin: 20px 0;
      }

      .image {
        display: none;
      }
    }
  }

