@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  background: black;
  color: #fff;
  padding: 2rem;

  h4,
  h5 {
    color: #fff;
    margin-bottom: 1rem;
  }

  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  .subscribeForm {
    display: flex;
    gap: 0.5rem;
  }

  .socialLinks {
    display: flex;
    gap: 0.8rem;

    a {
      font-size: 1.2rem;
    }
  }
}

.bottomFooter {
  background: black;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 1rem;
}
