@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  background-color: black;
  color: white;

  .footerContent {
    padding: 40px 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .section {
      .headingBold {
        color: white;
      }
      .sectionContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        .titleMedium12PX {
          font-size: 12px;
          color: rgba($color: #ffffff, $alpha: 0.6);
        }
        gap: 16px;
        ul {
          li {
            margin-bottom: 16px;
          }
        }

        .subscribeForm{
          position: relative;
          background-color: transparent;
          width: 217px;
          padding: 10px ;
          margin-top: -10px;
          border-radius: 4px;
          border: 1.5px solid rgba($color: #ffffff, $alpha: 0.6);
          input{
            background-color: transparent;
            color: white;
            font-size: 16px;
            line-height: 14px;

            &:active,
            &:focus,
            &:autofill
            {
              outline: none;
              background-color: transparent;
            }

          }
          button{
            position: absolute;
            background-color: transparent;
            color: white;
            border: none;
            cursor: pointer;
            right: 10px;
            top: 55%;
            transform: translateY(-50%);
            
          }
        }
        .downloadLinks {
          img {
            width: 104px;
            margin-bottom: 10px;
          }
        }
      }

      .socialLinks {
        display: flex;
        gap: 24px;
        // justify-content: space-between;
      }
    }
  }

  .bottomFooter {
    width: 100%;
    text-align: center;
    border-top: 1px solid;
    padding: 10px 0;

    color: rgba($color: #ffffff, $alpha: 0.6);
  }
}

@include tablet {
  .footer {
    .footerContent {
      grid-template-columns: repeat(1, 1fr);
      .section {
        .subscribeForm{
          width: 100%;;
          margin-bottom: 40px;
        }
      }
    }
  }
}
