@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.header {
  border-bottom: 0.5px solid rgba($color: $color-dark, $alpha: 0.3);
  margin-top: 16px;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  &__links {
    ul {
      display: flex;
      gap: 1rem;
      li {
        a {
          color: #000;
        }
      }
    }

    .ant-menu {
      border-bottom: none;
    }

    .ant-menu-item {
      font-size: 1rem;
      padding: 0 1.2rem;
    }
  
  @include tablet{
    display: none;
  }
  }

  &__shop {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;

    &__search {
      position: relative;
      width: 220px;
     
      background-color: $color-secondary;
      border-radius: 4px;
      input {
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
      }
      button {
        position: absolute;
        right: 10px;
        top: 55%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }

    &__icons{
      display: flex;
      font-size: 21px;
      align-items: center;
      font-size: 30px !important;
      gap: 1rem;
    }
  }
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.active {
  border-bottom: 1px solid rgba($color: $color-dark, $alpha: 0.5);
}

.icon {
  font-size: 21px;
  cursor: pointer;
}

.menuBtn {
  display: none;
  font-size: 21px;
  margin-bottom: 6px;
  @include tablet {
    display: inline-flex;
  }
}

