@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.topHeader{
    background-color: #000000;
    .container{
    color: $color-primary;
    text-align: center ;
    font-size: $font-size-sm;
    padding: 12px 0;
    p{
        line-height: 21px;
        font-weight: 400;
    }
    a{
        color: white;
        text-decoration: none;
        margin-left: 10px;
        font-weight: 600;
        text-decoration: underline;
    }
        position: relative;
        overflow: hidden;

        .language{
            position: absolute;
            top: 50%;
            right: $container-padding *2;
            
            transform: translateY(-50%);
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: $font-size-sm;
            i{
                font-size: $font-size-xs;
            }
    }
    }
}


// responsive 
@include tablet {
    .top-header{
        .container{
            font-size: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .language{
                position: relative;
                margin: 0 auto;
                transform: translateX(50%);
                font-size: 8px;
                i{
                    font-size: 8px;
                }
            }
    }
    }

}