@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.topHeader{
    .container{
        position: relative;
    }
    position: relative;
    background-color: $color-dark;
    color:white;
    text-align: center;
    padding: 10px;
    .titleRegular{
        font-size: 12px;
    }

    .shopNow{
        margin-left: 8px;
        color: white;
        font-weight: 600;
        text-decoration: underline;
        
    }
    
    
    &__lang{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 24px;
        font-size: 14px;
        font-weight: 400;
        display: block;
       
        &__btn{
            background-color: transparent;
            color: white;
            border: none;
            cursor: pointer;
            padding: 0;
            text-align: right;
       }
       &__list{
        position: absolute;
        background-color: $color-secondary;
        padding: 10px;
        top: -800px;
        box-shadow: 0 2px 10px rgba($color: #000000, $alpha: .15);
        z-index: 100;
       }
       .active{
        top: 8px;
       }
    }
}

 @include tablet{
    .topHeader{
       
        .titleRegular{
            font-size: 8px;
        }
        
        &__lang{
            display: none;
        }

    }
        }