@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;

.userMenu {
  &__dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: rgba($color: #000000, $alpha: 0.04);
    backdrop-filter: blur(75px);
    border-radius: 4px;
    color: black;
    
    overflow: hidden;
    z-index: 22222;
    transition: 0.2s ease;
  }

  &__dropdownItem {
    a {
      display: flex;
      align-items: center;
      gap: 16px;
      color: white;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
    }
  }
}

.active {
  display: flex;
}
