@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storySection {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;

  @include desktop {
    flex-direction: column;
    text-align: center;
  }
}

.text {
  .headingSemiBold{
    margin-bottom: 30px;
  }
  p {
    font-size: 1rem;
    color: $color-dark;
    margin-bottom: 1rem;
    line-height: 1.7;
  }

  @include desktop{
    margin-top: 30px;
    p{
      margin: 1rem  auto;
      text-align: justify;
    }
  }
}

.imageWrapper {
  position: relative;
  right: -15%;
  top: 30px;
}

.image {
  width: 100%;
}
@include desktop{
  .imageWrapper{
    right: 0;
    margin: 0 auto;
    
  }
}
.statsSection {
  &__card {
    text-align: center;
    padding: 1.5rem !important;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    

    &:hover{
      background-color: $color-secondary-1;
      color: white;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      border: transparent;
      .icon{
        color: $color-dark;
        background-color: white;
        outline: 11px solid rgba(255, 255, 255, 0.3);

      }
    }
    @include desktop{
      margin: 30px ;
  }

}
}

.teamSection{
  margin-top: 40px;
    display: flex;
  justify-content: center;
  &__card {
    width: 370px;
    box-shadow: none;
    
    .image{
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items:baseline;
      padding-top:30px;
      height: 430px;
      width: 100%;
      background-color: $color-secondary;
      img{
        
        width: 80%;
        margin: 0 auto;
      }
    }

    .socials{
      color: black;
      font-size: 24px;
      a{
        color: black;
        margin-right: 10px
      }
    }

  }
  @include desktop{
    &__card{
      margin: 30px auto;
    }
  }
  @include mobile{
    &__card{
      width: 300px;
      .image img{
        width: 100%;
      }
    }
  }
}

